<img src="assets/3.svg" alt="hero" id="bg"  />
	<ul class="topnav" id="topnav">
	  <li><a href="#home">Lady Vudu Music</a></li>
	</ul>

<section>
	<div class="col-xs-12 music" id="music">
		
	</div>	
</section>

<section>
	<div class="credits">
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
	</div>	
</section>



