<pre class="header col-xs-12" id="pre"> 
	<div class="intro text-center">
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
	</div>		
</pre>
	
<ul class="topnav" id="topnav">
  <a>Lady Vudu Music</a>
</ul>

<div class="clear"></div> 

<section>
	<div id="plist">
		<div class="box col-xs-12 col-sm-6 col-sm-offset-3" id="tracks">
			<div class="row">
        <div class="col-xs-4 btn-field">
					<audio id="myTune">
						<source src="4.mp3"></source>
					</audio>	
					<button type="button" id="btn1" class="glyphicon glyphicon-play gi-5x"></button>		
				</div>
				<div class="col-xs-8 track-title">
					<p>Song Titlte Here</p>
				</div>	
			</div>	
		</div>
	</div>		
</section>

<div class="clear"></div> 

<section>
	<div class="credits">
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
	</div>	
</section>



