<pre class="header col-xs-12" id="pre"> 
	<div class="intro text-center">
	</div>		
</pre>
	
<ul class="topnav" id="topnav">
  <a>Lady Vudu Music</a>
</ul>

<div class="clear"></div> 

<section>
	<div id="plist">

		<div class="box-name col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="col-xs-12 titled-EP">
				<h2>Lady vudu - Lady Vudu EP</p>
			</div>
		</div>

		<div class="box col-xs-12 col-sm-6 col-sm-offset-3" id="tracks">
			<div class="row">
        <div class="col-xs-2 btn-field">
					<audio id="myTune">
						<source src="4.mp3"></source>
					</audio>	
					<button type="button" id="btn1" class="glyphicon glyphicon-play gi-5x"></button>		
				</div>
				<div class="col-xs-10 track-title">
					<p>1. Bicephalous - Lady Vudu EP</p>
				</div>	
			</div>
		</div>

		<div class="box col-xs-12 col-sm-6 col-sm-offset-3" id="tracks">
			<div class="row">
        <div class="col-xs-2 btn-field">
					<audio id="myTune">
						<source src="4.mp3"></source>
					</audio>	
					<button type="button" id="btn1" class="glyphicon glyphicon-play gi-5x"></button>		
				</div>
				<div class="col-xs-10 track-title">
					<p>2. The Creep (The Beggar) - Lady Vudu EP</p>
				</div>	
			</div>
		</div>

			<div class="box col-xs-12 col-sm-6 col-sm-offset-3" id="tracks">
			<div class="row">
        <div class="col-xs-2 btn-field">
					<audio id="myTune">
						<source src="4.mp3"></source>
					</audio>	
					<button type="button" id="btn1" class="glyphicon glyphicon-play gi-5x"></button>		
				</div>
				<div class="col-xs-10 track-title">
					<p>3. Natures Package - Lady Vudu EP</p>
				</div>	
			</div>
		</div>

			<div class="box col-xs-12 col-sm-6 col-sm-offset-3" id="tracks">
			<div class="row">
        <div class="col-xs-2 btn-field">
					<audio id="myTune">
						<source src="4.mp3"></source>
					</audio>	
					<button type="button" id="btn1" class="glyphicon glyphicon-play gi-5x"></button>		
				</div>
				<div class="col-xs-10 track-title">
					<p>4. Nemeless (Dirige) - Lady Vudu EP</p>
				</div>	
			</div>
		</div>

	</div>		
</section>

<div class="clear"></div> 

<section>
	<div class="credits">
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
	</div>	
</section>



