<pre class="col-xs-12"> 
	<div class="intro text-center">
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
		<h2>Played by</h2><br />
	</div>		
</pre>
	
<ul class="topnav" id="topnav">
  <li><a href="#home">Lady Vudu Music</a></li>
</ul>

<div class="clear"></div> 

<section>
	<div class="col-xs-12 music" id="music">
		
	</div>	
</section>

<div class="clear"></div> 

<section>
	<div class="credits">
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
		<h2>Played by</h2>
	</div>	
</section>



