html, body{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;	
	font-family: "Lucida Console", Monaco, monospace
}

pre {
	background-repeat:no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-position: 50%;
  outline: 3px dashed black; 
  padding: 1em; 
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #111111;
  -moz-box-shadow: 0 8px 6px -6px #111111;
  box-shadow: 0 8px 6px -6px #111111;
  font-size:40px; 
}

a {
	display: inline-block;
	color: #073291;
	font-weight: 300;
	text-align: center;
	text-decoration: none; 
}

div h2 {
	color:#fff;
	font-weight:500;
	font-size: 44px;
}

@media screen and (orientation: portrait) {
 pre  { height:100%; width:100%; background-image: url(3.svg);
		background-size: cover;
		opacity: 0.65;
	}
	#plist { height:1100px; width:100%; background-image: url(1.jpg);	
	}
	#tracks .track-title {
	font-size: 24px;
	padding:0.75em 0.5em 0.5em 0;
	margin-left: 2em;
  color: white;
	}
}

@media screen and (orientation: landscape) {
		pre  { height:100%; width:100%; background-image: url(3.svg);
		background-size: cover;
		opacity: 0.65;
	}
	#plist { height:1100px; width:100%; background-image: url(1.jpg);	
	}
}	

@media only screen and (min-width: 43.062em) {
	pre  { height:100%; width:100%; background-image: url(3.svg);
		background-size: cover;
		background-position: 25%;
		opacity: 0.65;
	}
	#plist { height:1100px; width:100%; background-image: url(1.jpg);	
	}
	#tracks .track-title {
	font-size: 24px;
	padding:0.75em 0.5em 0.5em 0;
	margin-left: 1em;
  color: white;
	}
}

@media only screen and (min-width: 64.063em){
	pre  { height:100%; width:100%; background-image: url(3.svg);
		background-size: cover;
		opacity: 0.65;
	}
	#plist { height:1100px; width:100%; background-image: url(1.jpg);
	}
	#tracks .track-title {
	font-size: 24px;
	padding:0.75em 0.5em 0.5em 0;
	margin-left: 1em;
  color: white;
	}      
}

@media only screen and (min-width: 90.063em){
	pre  { height:100%; width:100%; background-image: url(3.svg);
		background-size: cover;
		opacity: 0.65;
	}
	#plist { height:1100px; width:100%; background-image: url(1.jpg);
	}
	#tracks .track-title {
	font-size: 24px;
	padding:0.75em 0.5em 0.5em 0;
	margin-left: 1em;
  color: white;
	}
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.glyphicon {
	border: 0px;
	background: none;
}

.glyphicon:focus {
  outline: none;
}

.glyphicon-play, .glyphicon-pause {
	color:#073291;
}

#plist { 
	background-repeat:no-repeat;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size:cover;
  outline: 1px solid black;
}

section #plist {
	-webkit-box-shadow: 0 12px 6px -6px #111111;
  -moz-box-shadow: 0 12px 6px -6px #111111;
  box-shadow: 0 12px 6px -6px #111111;
  padding: 1em 1em 
}

.box {
	-moz-box-shadow: 0 8px 6px -6px #111111;
	-webkit-box-shadow: 0 8px 6px -6px #111111;
	box-shadow: 0 8px 6px -6px #111111;
	background: rgba(90, 90, 90, 0.7);
	border-color: #000000;
	padding-bottom: 1em;
	padding-top: 1em;
	border-radius: 25px;
	font-color: #fff;
	margin: 1em 0 1em 0;
}

#tracks .track-title {
	font-size: 24px;
	padding:0.75em 0.5em 0.5em 0;
	margin-left: 1em;
  color: white;
}

.box-name{
	-moz-box-shadow: 0 10px 6px -6px #111111;
	-webkit-box-shadow: 0 10px 6px -6px #111111;
	box-shadow: 0 10px 6px -6px #111111;;
	background: rgba(90, 90, 90, 0.7);
	border-color: #000000;
	padding-bottom: 1em;
	margin: 8em 0 4em 0;
	text-align: center;
}


.clear {
    clear:both;
}

