<!DOCTYPE html>
<html>
<head>
  <title>Lady</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<script>
$(window).load(function() {       
	var theWindow = $(window),
	    $bg = $("#bg"),
	    aspectRatio = $bg.width() / $bg.height();    			    		
	function resizeBg() {		
		if ((theWindow.width() / theWindow.height()) < aspectRatio ) {
		    $bg
		    	.removeClass()
		    	.addClass('bgheight');
		} else {
		    $bg
		    	.removeClass()
		    	.addClass('bgwidth');
		}				
	}                   			
	theWindow.resize(resizeBg).trigger("resize");

$('body').scrollTop() > 0

});	

$(function(){
    $('ul').data('type','large');
});

$(window).scroll(function(){
    var $nav = $('ul'), time = 600;
    if ($('body').scrollTop() > 0) {
        if ($nav.data('type') == 'large') {
            $nav.data('type','tiny').stop().animate({ height:'0px' }, time);
        }
    } else {
        if ($nav.data('type') == 'tiny') {
            $nav.data('type','large').stop().animate({ height:'100px' }, time);
        }  
    }
});
</script>
</body>
</html>
