<!DOCTYPE html>
<html>
<head>
  <title>Lady</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<%= yield %>
<script>
$(window).load(function() {       
	$('body').scrollTop() > 0
});	

	$(function(){
	    $('ul').data('type','large');
	});

	$(window).scroll(function(){
	    var $nav = $('ul'), time = 300;
	    if ($('body').scrollTop() > 0) {
	        if ($nav.data('type') == 'large') {
	            $nav.data('type','tiny').stop().animate({ height:'0' }, time);
	        }
	    } else {
	        if ($nav.data('type') == 'tiny') {
	            $nav.data('type','large').stop().animate({ height:'50px' }, time);
	        }  
	    }

	    var scrub      = {
      el: document.getElementById('scrub'),
      current: {
        x: 0
      },
      last: {
        x: 0
      }
    },
    timeline   = document.getElementById('timeline'),
    mouseDown  = false;

		scrub.el.onmousedown = function () {
		  mouseDown    = true;
		  scrub.origin = timeline.offsetLeft;
		  scrub.last.x = scrub.el.offsetLeft;
		  return false;
		};

		document.onmousemove = function(e) {

		  if (mouseDown === true) {
		    var scrubStyle  = getComputedStyle(scrub.el),
		        scrubOffset = parseInt(scrubStyle.width,10)/2,
		        position    = parseInt(scrubStyle.left, 10),
		        newPosition = position + (e.clientX - scrub.last.x),
		        timeStyle   = getComputedStyle(timeline, 10),
		        timeWidth   = parseInt(timeStyle.width,10);

		    if (e.clientX < timeline.offsetLeft) {
		      newPosition = scrub.origin - (scrubOffset*2);
		    } else if (e.clientX > timeWidth + timeline.offsetLeft) {
		      newPosition = timeWidth - (scrubOffset);
		    }
		    document.getElementById('output').value = newPosition;
		    scrub.el.style.left = newPosition + 'px';
		    scrub.last.x        = e.clientX;
		  }
		};

		document.onmouseup = function() {
		  mouseDown = false;
		};

	    
	});

</script>
</body>
</html>
